@use '@/styles/scss/abstracts/' as *;

.form {
  label {
    display: block;
    padding: 1rem;
  }
  input {
    display: block;
    padding: 1rem;
    width: 100%;
  }
  textarea{
    padding: 1rem;
    width: 100%;
  }
  button {
    color: $dark;
    background: $light;
    padding: 1rem;
    border: none;
    margin-top: 1rem;
    width: 100%;
    border: 1px solid $light;
    cursor: pointer;
    
    &:hover, &:active {
      color: $light;
      background: $dark;
      border: 1px solid $light;

    }
  }
}