@use '@/styles/scss/abstracts/' as *;

.header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: start;
  background: $light;
  color: $dark;

  .brand {
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    // text-transform: lowercase;
    // color: $complementaryColor;
  
    // .logoEnds {
    //   color: $brandColor;
    // }
  
    .logoMain {
      color: $dark;
      padding: 0.5rem;

      &:hover {
        color: $light;
        background: $dark;
        padding: 0.5rem;
      }
    }
  }

  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      // flex: 1;
      // align-items: baseline;
    }
  
    li {
      // margin-left: 3rem;
      margin: 0.5rem;
      
    }
  
    a {
      font-weight: 700;
      padding: 0.5rem;
      font-size: 1.2em;
      font-weight: 400;
      letter-spacing: 1px;
      text-decoration: none;

      span {
        font-weight: 700;
      }
  
      &:hover, &:active {
        color: $light;
        background: $dark;
        padding: 0.5rem;
      }
    }
  }
}