@use '@/styles/scss/abstracts/' as *;

.buttonLink {
  padding: 0.5rem 1.5rem;
  text-align: center;
  font: inherit;
  cursor: pointer;
  color: $light;
  border: 1px solid $light;
  background-color: transparent;
  border-radius: 4px;
  text-decoration: none;

  &:hover, &:active {
    background-color: $dark;
    color: $light;
  }
}